$color:lightGreen;
$value:912px;
$theme:DarkRed;

@mixin theme($theme:DarkRed){
    background:$theme;
    color:$color
}
.success{
    @include theme()
}

.main-header{
    background-color: $color;
    height: $value;
    padding-top: 80px;
}
.homeBar{
    padding-top: 60px;
}

@media(min-width: 500px) {
    .Drawer{
        background-color: black !important;
    }
}